[submodule "OCanren"]
	path = OCanren
	url = https://github.com/Kakadu/OCanren.git
	branch = wildcards-mk2022

[submodule "noCanren"]
	path = noCanren
	url = https://github.com/Lozov-Petr/noCanren.git
[submodule "GT"]
	path = GT
	url = https://github.com/JetBrains-Research/GT.git
