[submodule "noCanren"]
	path = noCanren
	url = https://github.com/PLTools/noCanren.git
	shallow = true

[submodule "OCanren"]
	path = OCanren
	url = https://github.com/PLTools/OCanren.git
	shallow = true

